worker_processes auto;
events { worker_connections 1024; }

http {
  include /etc/nginx/mime.types;

  upstream backend_cluster {
    server $BACKEND_HOSTNAME:$BACKEND_PORT;
  }

  server {
    listen 80;
    server_name "";

    location /api/ {
      proxy_pass http://backend_cluster;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location ~ ^/api/[0-9a-z]+/repo/[0-9a-z]+/[0-9a-z]+/git-(receive|upload)-pack$ {
      proxy_pass http://backend_cluster;

      client_max_body_size 500m;
      proxy_request_buffering off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /coffee {
      default_type application/json;
      return 418 '{"client": "brew coffee", "server": { "error": "refusing to brew coffee", "message": "i am permanently a teapot" }}';
    }
  }
}
